services:
 postgres:
  image: postgres:13-alpine
  ports:
    - 5432:5432
  env_file:
    - .env
  volumes:
    - postgres:/var/lib/postgresql/data
  # networks:
  #   - nest-init

volumes:
   postgres:
      name: fat-infrastructure-db

# networks:
#    nest-init:
   